<%include ../partials/header%>

<div class="container mt-4">
    <h1 style="text-align:center">Add new Comment to <%=campground.name%></h1>
    <div style="width: 30%; margin: 25px auto">
        <form action="/campground/<%=campground._id%>/comments" method="post">
            <div class="form-group">
                <input type="text" name="comment[text]" class="form-control" placeholder="text">
            </div>
            <button type="submit" class="btn btn-primary btn-block">Submit</button>
        </form>
    <a href="/campground/<%=campground._id%>">Go back</a>
    </div>
</div>

<%include ../partials/footer%>

