<!Doctype HTML>
<html>
    <head>
        <title>Camptale</title>
        <link rel="stylesheet" href="/stylesheets/style.css">
        <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css"  media="screen,projection"/>
    </head>
    <body>
        <% include ./navbar.ejs %>
        <div class="container">
            <% if(error && error.length>0) { %>
                <div class="alert alert-danger" role="alert">
                    <%= error %>
                </div>
               
            <% } 
             if(success && success.length>0) { %>
                <div class="alert alert-success" role="alert">
                    <%= success %>
                </div>
            <% } %>
        </div>