<%include ./partials/header%>

<div class="container mt-5">
    <h2 style="text-align:center">Forgot Password</h2>
    <div style="width: 30%; margin: 25px auto">
        <form action="/forgot" method="post">
            <div class="form-group">
                <label for="email">Enter you email to Reset your Password : </label>
                <input type="email" name="email" class="form-control" placeholder="email address">
            </div>
            <input type="hidden" name="_csrf" value="<%= csrfToken %>" >
            <button type="submit" class="btn btn-primary btn-block">Submit</button>
        </form>
    </div>
</div>

<%include ./partials/footer%>