<%include ./partials/header %>

<div class="container p-4">
    <div class="row justify-content-center">
        <div class="col-0 col-md-2 col-lg-3"></div>
        <div class="col-12 col-md-8 col-lg-5">
            <div class="card border-dark mb-3 mx-auto form-card">
                <div class="card-header">Login</div>
                <div class="card-body text-dark">
                  <form action="/login" method="POST">
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="text" id="email" name="email" class="form-control" placeholder="Email address">
                    </div>
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>" >
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" id="password" name="password" class="form-control" placeholder="Password">
                    </div>
                    <button class="btn btn-success btn-block">SUBMIT</button>
                    <div class="text-center">OR</div>
                    <div class="row">
                        <div class="col-12 col-md-6">
                            <a href="/auth/Google" class="btn btn-danger btn-block">GOOGLE</a> 
                        </div>
                        <div class="col-12 col-md-6">
                            <a href="/auth/facebook" class="btn btn-primary btn-block">FACEBOOK</a> 
                        </div>
                    </div>
                   </form>
                </div>
            </div>
        </div>
        <div class="col-0 col-md-2 col-lg-3"></div>
    </div>
</div>

<%include ./partials/footer %>