<%include ./partials/header%>

<div class="container mt-5">
    <h2 style="text-align:center">Reset your Password</h2>
    <div style="width: 30%; margin: 25px auto">
        <form action="/reset/<%= token %>" method="post">
            <div class="form-group">
                <label for="password">New Password : </label>
                <input type="password" name="password" class="form-control" placeholder="New Password">
            </div>
            <input type="hidden" name="_csrf" value="<%= csrfToken %>" >
            <div class="form-group">
                <label for="confirm">Confirm Password : </label>
                <input type="password" name="confirm" class="form-control" placeholder="Confirm Password">
            </div>
            <button type="submit" class="btn btn-primary btn-block">Submit</button>
        </form>
    </div>
</div>

<%include ./partials/footer%>